body {
  color: rgb(67, 41, 214);
  background-color: rgb(78, 38, 116);   
  /* background-image: url('https://media.tenor.com/OROvxHU90ygAAAAM/food-foodie.gif'); */
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
