body {
  color: rgb(21, 114, 114);
  background-color: rgb(168, 168, 168);
  text-decoration: none;
  text-align:center;
  font-size: x-large;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
  font-variant: small-caps;
}
