
@{
  Layout = "_Layout";
}
<h1>Welcome Eau Claire!</h1>
<h3>Here, you'll be able to manage your stylists and their clients!</h3>


<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>